:root {
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body {
    --bg-dark-color: #322f3d;
    --primary-color: #22577e;
    --secondary-color: #ef9f9f;
    --bg-light-color: #efeeee;
    background-color: var(--bg-light-color);
    color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}
p {
    font-family: var(--default-font-family);
}
nav {
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--bg-light-color);
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    padding: 18px;
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 6;
}
nav a {
    text-decoration: none;
    color: var(--primary-color);
}
nav a:hover {
    color: var(--secondary-color);
    opacity: 0.6;
}
nav li.active a {
    color: var(--secondary-color);
    font-weight: bold;
}

footer img {
    width: 42px;
    padding: 10px 8px;
    margin-bottom: 6px;
}
footer i {
    font-size: 20px;
    color: var(--secondary-color);
    padding: 12px;
}
footer a {
    margin: 0 18px;
}
footer i:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 50%;
}
footer img:hover {
    background-color: var(--primary-color);
    border-radius: 50%;
}

.hero {
    text-align: center;
    padding: 205px 30px 125px;
}
.hero h1 {
    font-size: 86px;
    color: var(--primary-color);
}
.hero h2 {
    font-family: var(--default-font-family);
    color: var(--primary-color);
    opacity: 0.8;
    font-size: 20px;
    line-height: 2;
    font-weight: normal;
}
.hero p {
    font-size: 30px;
    color: var(--primary-color);
    opacity: 0.8;
    margin: 0;
    font-weight: bold;
}

.btn-branding {
    background: var(--secondary-color);
    border-radius: 4px;
    color: var(--primary-color);
    padding: 15px 28px;
    font-size: 18px;
}
.btn:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.projects-heading {
    color: var(--primary-color);
    margin-top: 175px;
}
.projects-heading p {
    opacity: 0.75;
    padding: 9px;
    margin: 15px;
}
.project-description {
    color: var(--primary-color);
    padding: 35px;
    text-align: center;
    margin-top: 45px;
}

.project-description p {
    color: var(--primary-color);
    font-size: 15px;
}
.about-heading h1 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 125px;
    padding: 25px;
    font-size: 55px;
}
.about-name {
    color: var(--primary-color);
    opacity: 0.8;
    font-family: var(--default-font-family);
    margin-top: 35px;
}
.about-description {
    color: var(--primary-color);

    text-align: center;
    padding-top: 30px;
}
.contact-container h1 {
    font-size: 55px;
}
.contact-container a {
    font-size: 20px;
    text-decoration: none;
    color: var(--secondary-color);
}

@media (max-width: 578px) {
    .hero h1 {
        font-size: 65px;
    }
    .hero {
        padding: 250px 10px 200px;
    }
    .project-description {
        text-align: center;
    }
    .project-description h2 {
        font-size: 35px;
    }
    nav li {
        padding: 10px;
        margin: 2px;
        line-height: 5;
    }
   
}
.darkToggle {
    opacity: 0;
  
    position: absolute;

}

.label {
  width: 48px;
  height: 24px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top:115px;
  right:3px;
  
 
}

.ball {
  width: 21px;
  height: 21px;
  background-color: white;
  position: absolute;
  top: 1.5px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s;
}


.darkToggle:checked + .label .ball{
  transform: translate(100%);
}

.dark {
    --bg-dark-color: #efeeee;
    --primary-color: #ef9f9f;
    --secondary-color: #22577e;
    --bg-light-color: #322f3d;
    background-color: var(--bg-light-color);
    color: var(--bg-dark-color);
}


